<h1>Update car</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <p><a href="{% url 'car_delete' pk=form.instance.id%}">Delete</a></p>
    </form>