{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/car.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">

{% for item in cars %}
    <h1><a href="{% url 'car_update' pk=item.pk%}">{{item.title}}</a></h1>
    <h3>{{item.text}}</h3>
    {% if item.image %}
        <img src='{{item.image.url}}' width="200" height="200">
    {% endif %}
    <p>-------------</p>
{% endfor %}

<h1><a href="{% url 'cars_create'%}">Car</a></h1>
