<h1>New car</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>


    <form>
        <p><input type="button" value=" Нажми меня нежно "></p>
    </form>
